body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display:flex;
    margin-bottom: 150px;
}
.half-box{
    width: 50%;
    padding-left: 2%;
}
.half-box img{
    width: 80%;
}
.pragrap-exp{
    line-height:26px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.section-image{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
h2{
    font-size:40px;
}
.section2-images{
    background-image:url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position:right;
}
.Experiences-area{
    background-image:url(images/exp-bg.png);
    background-repeat:no-repeat;
    background-position:left;
}
.stack-developer{
    width:40%;
    margin:0% 5%;
    box-shadow:10px 10px 40px grey;
    padding-left:30px;
    border-radius:5px;
}
.full-stack-developer{
    border-left:8px solid tomato;
}
.baby-stack-developer{
    border-left:8px solid blue;
}
footer p{
    text-align:center;
}